@media screen and (max-width: 700px) {
  .ul__flex,
  .languge__flex,
  .line {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .article__flex {
    flex-direction: column;
    margin-top: 65px;
  }

  .p__about {
    margin-right: 0;
    margin-top: 23px;
  }
  .header__about-left {
    display: block;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 74px;
    right: 10px; /* Устанавливаем фиксированное положение справа */
  }
}
