@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/ttf/Gilroy-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(/fonts/ttf/Gilroy-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Gilroy-Medium", sans-serif;
}
.container {
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --black: #070707;
  --gray-color: #828282;
}
/* header */
.header {
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav {
  max-width: 943.612px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 36px;
}
.ul__flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.ul__flex li,
.ul__flex a {
  color: var(--gray-color);
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
.ul__flex a:hover {
  color: var(--black);
}
.line {
  max-width: 940.604px;
  height: 1px;
  background-color: var(--gray-color);
  margin: 0 auto;
}
.article__flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 41px;
  max-width: 943.612px;
}

.header__about-left {
  display: flex;
  align-items: center;
}
.h1__header {
  color: var(--Black, #070707);
  font-family: Gilroy-Bold;
  font-size: 47.339px;
  font-weight: 400;
  margin: 0;
  width: 123.513px;
  height: 118.174px;
}
.p__about {
  color: var(--Black, #070707);
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  max-width: 155.646px;
  height: 44.065px;
  margin-right: 50px;
  margin-top: 61px;
}
.header__about-right {
}
.nav__list {
}
.li-items {
}
.languge__flex {
  display: flex;
  writing-mode: vertical-rl;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 41px;
  margin-right: 3px;
  gap: 3px;
}
.ru {
  color: var(--gray-color);
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.eng {
  color: var(--black);
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.ru:hover,
.eng:hover {
  color: #1991cd;
}
.img__carouselBlock {
  width: 100%;
  overflow: hidden;
  max-width: 943.612px;
  max-height: 387px;
  text-align: center;
  margin: 0 auto;
}
.carousel {
  max-width: 943.612px;
  max-height: 387px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  margin: 0 auto;
}
.img__carousel {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  max-width: 943.612px;
  max-height: 387px;
}
.button_carousel {
  text-align: center;
}
.prev,
.next {
  font-family: Gilroy-Bold;
  border: none;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  color: #263238;
}
/* burger */
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-icon {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 5px 0;
}
.menu-modal {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  width: 375px;
  height: 812px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header .menu-modal li,
.menu-modal a {
  text-decoration: none;
  color: var(--gray-color);
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-weight: 400;
}
.menu-modal ul {
  list-style: none;
  padding: 0;
}
.menu-modal li {
  padding: 15px;
}
.menu-modal li:last-child {
  border-bottom: none;
}
.menu-modal a:hover {
  color: #070707;
}
/* section1 */
.about {
  background-color: #f6f6f6;
  min-height: 506px;
  padding-left: 10px;
  padding-right: 10px;
}
.flex__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2__about {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  margin-top: 117px;
  margin-bottom: 22px;
  max-width: 485.344px;
}
.p_one,
.p_two,
.p_tree {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  max-width: 485.344px;
}
.p_one {
  margin-bottom: 44px;
}
.p_two {
  margin-bottom: 41px;
}
/* skills */
.skills {
  display: flex;
  flex-direction: column;
  min-height: 610px;
  margin-left: 10px;
  margin-right: 10px;
}
.text {
  margin-top: 87px;
}
.h2__skills {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}
.p__skills {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 58px;
}
.flex__skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 88px;
  gap: 110px;
}
.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__img {
  margin-bottom: 20px;
}
.skill__img.photoshop {
  width: 89.073px;
  height: 88.413px;
}
.skill__img.illustrator {
  width: 89.209px;
  height: 88.572px;
}
.skill__img.effects {
  width: 89.21px;
  height: 88.572px;
}
.skill__img.figma {
  width: 58.252px;
  height: 88.991px;
}
.p__item {
  color: var(--gray-color);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 39px;
}
.figma {
  margin-bottom: 38px;
}
.stars__flex {
  display: flex;
  gap: 9px;
}
.stars__black {
}
/* portfolio */
.portfolio {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 2148px;
  background: #f6f6f6;
}
.h2__portfolio {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  margin-top: 110px;
  margin-bottom: 55px;
}
.fashion {
  text-align: center;
  margin-bottom: 99px;
}
.img__fashion,
.img__reebok,
.img__camera {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  max-width: 936.24px;
  max-height: 510px;

  margin-bottom: 41px;
}
.p__fashion,
.p__camera,
.p__reebok {
  color: var(--black);
  font-family: Gilroy-Medium;
  font-size: 18px;
  text-decoration-line: underline;
  margin: 0 auto;
  cursor: pointer;
}
.p__fashion:hover,
.p__camera:hover,
.p__reebok:hover {
  color: var(--gray-color);
}
.reebok {
  text-align: center;
  margin-bottom: 99px;
}
.camera {
  text-align: center;
}
/* footer */
.footer {
}
.contacts {
  margin: 0 auto;
  text-align: center;
}
.h2__contacts {
  font-size: 34px;
  margin: 0;
  margin-top: 107px;
  margin-bottom: 24px;
}
.p__contacts {
  color: var(--black);
  font-family: Gilroy-Medium;
  font-size: 18px;
  margin: 0;
  margin-bottom: 32px;
}
.button__contacts {
  width: 180.5px;
  height: 42px;
  background-color: var(--black);
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 18px;
  margin-bottom: 87px;
  border-radius: 75px;
}
.button__contacts a:hover {
  color: var(--gray-color);
}
.button__contacts a {
  text-decoration: none;
  color: #fff;
}
.icons {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.icons-items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 45px;
  max-width: 343px;
  padding-left: 0;
}
.icons-items li,
a {
  list-style: none;
  display: inline-block; /* Обеспечивает масштабирование текста с его фоном */
  transition: transform 0.3s ease-in-out; /* Плавный переход */
}
.icons-items li:hover {
  transform: scale(1.1); /* Увеличение до 110% */
}
.inst {
}
.p__icons {
  color: var(--gray-color);
  font-family: Gilroy-Medium;
  font-size: 14px;
}
/* кнопка и язык */
.flex {
  display: flex;
  writing-mode: vertical-rl;
  writing-mode: vertical-lr;
  margin-right: 20px;
  gap: 10px;
}
.flex-modal {
  display: flex;
  justify-content: space-between;
  height: 812px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.close {
  border: none;
  background-color: #fff;
}
.new {
  font-size: 36px;
}
.closeIcon {
  width: 22.873px;
  height: 22.244px;
  cursor: pointer;
}
.closeIcon:hover {
  filter: invert(1) grayscale(100%) brightness(0);
}
