@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/ttf/Gilroy-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(/fonts/ttf/Gilroy-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Gilroy-Medium", sans-serif;
}
.container {
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --black: #070707;
  --gray-color: #828282;
}
/* header */
.header {
  margin-bottom: 80px;
}
.nav {
  margin-left: 252px;
  margin-right: 248px;
  margin-top: 29px;
  margin-bottom: 36px;
}
.ul__flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.ul__flex li,
.ul__flex a {
  color: var(--gray-color);
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
.ul__flex a:hover {
  color: var(--black);
}
.line {
  width: 940.604px;
  height: 1px;
  background-color: var(--gray-color);
  margin: 0 auto;
}
.article__flex {
  display: flex;
  justify-content: space-between;
  margin-left: 252px;
  margin-top: 30px;
  margin-right: 248px;
  margin-bottom: 41px;
}
.header__about-left {
  display: flex;
  align-items: center;
}
.h1__header {
  color: var(--Black, #070707);
  font-family: Gilroy-Bold;
  font-size: 47.339px;
  font-weight: 400;
  margin: 0;
  width: 123.513px;
  height: 118.174px;
}
.p__about {
  color: var(--Black, #070707);
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  width: 155.646px;
  height: 44.065px;
  margin-left: 296px;
  margin-top: 47px;
}
.header__about-right {
}
.nav__list {
}
.li-items {
}
.languge__flex {
  display: flex;
  writing-mode: vertical-rl;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 41px;
  margin-right: 3px;
  gap: 3px;
}
.ru {
  color: var(--gray-color);
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.eng {
  color: var(--black);
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.ru:hover,
.eng:hover {
  color: #1991cd;
}
.img__carouselBlock {
  width: 100%;
  overflow: hidden;
  max-width: 943.612px;
  max-height: 387px;
  text-align: center;
  margin: 0 auto;
}
.carousel {
  max-width: 943.612px;
  max-height: 387px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  margin: 0 auto;
}
.img__carousel {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  max-width: 943.612px;
  max-height: 387px;
}
.button_carousel {
  text-align: center;
}
.prev,
.next {
  font-family: Gilroy-Bold;
  border: none;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  color: #263238;
}
/* burger */
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-icon {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 3, 3);
  margin: 5px 0;
}
.menu-modal {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header .menu-modal li,
.menu-modal a {
  text-decoration: none;
  color: #263238;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.menu-modal ul {
  list-style: none;
  padding: 0;
}
.menu-modal li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.menu-modal li:last-child {
  border-bottom: none;
}
/* section1 */
.about {
  background-color: #f6f6f6;
  min-height: 506px;
}
.flex__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2__about {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  margin-top: 117px;
  margin-bottom: 22px;
  width: 485.344px;
}
.p_one,
.p_two,
.p_tree {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  width: 485.344px;
}
.p_one {
  margin-bottom: 44px;
}
.p_two {
  margin-bottom: 41px;
}
/* skills */
.skills {
  display: flex;
  flex-direction: column;
  min-height: 610px;
}
.text {
  margin-top: 87px;
}
.h2__skills {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}
.p__skills {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 58px;
}
.flex__skills {
  display: flex;
  justify-content: center;
  margin-top: 88px;
  margin-top: 88px;
  margin-left: 249px;
  margin-right: 248px;
  gap: 110px;
}
.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__img {
  margin-bottom: 20px;
}
.skill__img.photoshop {
  width: 89.073px;
  height: 88.413px;
}
.skill__img.illustrator {
  width: 89.209px;
  height: 88.572px;
}
.skill__img.effects {
  width: 89.21px;
  height: 88.572px;
}
.skill__img.figma {
  width: 58.252px;
  height: 88.991px;
}
.p__item {
  color: var(--gray-color);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 39px;
}
.figma {
  margin-bottom: 38px;
}
.stars__flex {
  display: flex;
  gap: 9px;
}
.stars__black {
}
